
h1 {
  color: #FF1814;
  font-family: 'Atma', cursive;
  font-size: 100px;
  text-align: center;
  text-shadow: 4px 4px darkred;
  background-color: black;
  padding-left: 50px;
  padding-right: 50px;
  opacity: 75%;
  border:#FF1814 3px solid;
 
}


body {
  margin: 0%;
  padding: 0;
}

header {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:  url(../images/banner.jpg);
  margin: auto;
  padding: 50px;
  padding-left: 25%;
  padding-right: 25%;

}

h2 {
text-align: center;
color: white;
font-family: 'Sofia', cursive;
font-size: 33px;
}

p {
color: white;
font-size: 20px;
font-family: 'Baloo 2';
text-align: center;
}
section {
  width:100%;
  background-color: #BF0029 ;
  margin: auto;
  padding: 50px;
  
}

footer {
  width: 100%;
  background-color: #FF1814;
  padding: 20px;
}

/*parrallax background*/

#image1 {
  background-image: url(../images/image1.JPG);
  background-size: cover;
  width: initial;
  height: 300px;
  background-attachment: fixed;
   background-repeat: no-repeat;
  background-color: #B30059;
}
 
#image2 {
   
  background-image: url(../images/image2.JPG);
  background-size: cover;
  width: initial;
  height: 300px;
  background-attachment: fixed;
  background-repeat: no-repeat;  
  background-color: #B30059;
  }

#image3 
{
  background-image: url(../images/image3.JPG);
 background-size: cover;
  width: initial;
  height: 300px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #B30059;
  
  }


/*navbar code */
* {
  box-sizing: border-box;
}

#navbar {
  display: flex;
  justify-context: space-between;
  align-items: center;
  background-color: white;
  color: white;
}

#navbar-links ul {
 margin: 0;
 padding: 0;
 display: flex; 
}

#navbar-links li {
list-style: none;
}

#navbar-links li a {
  text-decoration: none;
  color: black;
  padding: 1rem;
  display: block;
}

@media only screen and (max-width: 1100px) {
  h1 {
  font-size: 70px;
  }
}

@media only screen and (max-width: 650px) {
  h1 {
    font-size: 40px;
  }
}